fastapi==0.121.0
uvicorn==0.38.0
python-multipart==0.0.20

librosa
numpy
scipy
soundfile

openai-whisper==20250625

torch
torchaudio
transformers

TTS
pyttsx3

google-generativeai==0.8.5

sqlalchemy==2.0.44
python-dotenv==1.2.1
pydantic
